[submodule "3rdparty/framelesshelper"]
	path = 3rdparty/framelesshelper
	url = git@github.com:gengshenchen/framelesshelper.git
[submodule "3rdparty/qt-material-widgets"]
	path = 3rdparty/qt-material-widgets
	url = git@github.com:karlchen-me/qt-material-widgets.git
[submodule "3rdparty/qt-material-widgets/"]
	url = git@github.com:karlchen-me/qt-material-widgets.git
